.hero {
  height: calc(100vh - 100px);
  overflow: hidden;
  background: linear-gradient(180deg, rgb(46, 44, 44), rgb(57, 55, 55));
  position: relative;

  .text-container {
  }

  .image-container {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
}
